.card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  padding: 20px;
  border: 1px solid silver;
  border-radius: 3px;
  margin: 5px;
  display: inline-block;
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis !important;
  background-color: whitesmoke;
  transition-property: transform;
  transition-duration: .4s;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.nav-icon {
  display: inline-block;
  width: auto !important;
  padding: 5px;
}
