---
layout: default
---
<main>
  <!-- Article -->
  <article{% if site.addthisId == "" and site.disqusUsername == "" %} class="noBorder"{% endif %}>
      <!-- If article has a cover photo -->
      {% if page.coverPhoto %}

        <!-- Article image with aspect ratio -->
        <a href="{{ site.baseurl }}{{ post.url }}" class="ar-container">
          <span class="ar-content" style="background-image: url({{ page.coverPhoto }});"></span>
        </a><!-- .ar-container -->

      {% endif %}
    <!-- Article title -->
    <h1>{{ page.title }}</h1>

    <!-- Article date -->
    <span class="article__date">
     Entry {{ page.entry }}
    </span>

    <!-- Article pre description -->
    <section>{{ page.content | markdownify  }}</section>
    <br>
    <br>
    <br>

  {% if page.collection %}
    {% assign collection = site[page.collection] %}
    {% assign prev = collection | last %}
    {% assign next = collection | first %}

    {% for item in collection sort: "date" reversed %}
      {% if item.title == page.title %}
        {% unless forloop.first %}
          {% assign prev = iterator %}
        {% endunless %}

        {% unless forloop.last %}
          {% assign next = collection[forloop.index] %}
        {% endunless %}
      {% endif %}

      {% assign iterator = item %}
    {% endfor %}
  {% endif %}
  {% if next %}
    <a class="prev" href="{{ next.url }}">Previous Entry</a>
  {% endif %}

  {% if prev %}
    <a class="next" href="{{ prev.url }}">Next Entry</a>
  {% endif %}
  <br>
</article><!-- article -->

</main>

<!-- If addthisId declared -->
{% if site.addthisId != "" %}

  <!-- Addthis -->
  <div class="addthis_sharing_toolbox mt"></div>
  <script async src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-{{ site.addthisId }}"></script>

{% endif %}

<!-- If disqusUsername declared -->
{% if site.disqusUsername != "" %}

  <!-- Full width -->
  <div class="full">

    <!-- Disqus -->
    <div id="disqus_thread" class="mt mb"></div>
    <script async src="//{{ site.disqusUsername }}.disqus.com/embed.js"></script>

  </div><!-- .full -->

{% endif %}
